jsontree/src/main/resources/scheme.xml

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="studentExtended" type="Student1"/>

  <xs:complexType name="Student1">
    <xs:sequence>
      <xs:element name="address" type="address" nillable="true" minOccurs="0"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="age" type="xs:int"/>
      <xs:element name="verified" type="xs:boolean"/>
      <xs:element name="marks" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="address">
    <xs:sequence>
      <xs:element name="city" type="xs:string"/>
      <xs:element name="street" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

